* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
}

header,
footer {
  background-color: #062A4A;
  padding: 20px;
}

h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  margin: 20px 5px;
}

.contacts-btns-holder {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contact-btn {
  background-color: #707D82;
  border: 2px solid #707D82;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 0 5px;
  padding: 10px;
}

.contact-btn:hover {
  background-color: #545E62;
  border: 2px solid #545E62;
  cursor: pointer;
}

header .fa,
.contact-section .fa {
  margin-right: 5px;
}

h2 {
  color: #266DD3;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  text-align: center;
}

.about-section {
  background-color: #DBDDDD;
  padding: 30px;
}

.about-paragraph {
  font-size: 20px;
  margin: 10px auto;
  width: 70%;
}

.about-section a {
  color: #02457D;
  font-weight: bold;
  text-decoration: none;
}

.about-section a:hover {
  color: #266DD3;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-list li {
  font-size: 20px;
  list-style-type: none;
  margin: 0 20px;
}

.skills-title,
.projects-title {
  margin-top: 40px;
}

.projects-title {
  margin-bottom: -20px;
}

.projects-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
}

h3 {
  font-size: 24px;
  text-align: center;
}

.project-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.project-links a {
  color: #266DD3;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.project-links a:hover {
  color: #02457D;
}

.project-screenshot {
  box-shadow: 5px 5px 5px darkgray;
  display: block;
  margin: 10px 0;
  width: 600px;
}

.contact-section {
  background-color: #DBDDDD;
  padding: 30px;
  text-align: center;
}

.contact-section p {
  font-size: 22px;
  padding: 10px;
}

.contact-section a {
  color: #062A4A;
  text-decoration: none;
}

.contact-section a:hover {
  color: #266DD3;
}

footer {
  color: white;
  text-align: center;
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 46px;
  }

  .contact-btn,
  .about-section {
    font-size: 16px;
  }

  .about-section {
    width: 90%;
  }

  .project {
    margin: 20px 0;
  }

  .project,
  .project-screenshot {
    width: 500px;
  }
}

@media screen and (max-width: 550px) {
  .project,
  .project-screenshot {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 38px;
  }

  .contact-btn {
    font-size: 12px;
    padding: 5px;
  }

  .project,
  .project-screenshot {
    width: 350px;
  }
}

@media screen and (max-width: 380px) {
  .project,
  .project-screenshot {
    width: 300px;
  }
}