* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  background: linear-gradient(to bottom right,  white, #CCDDED);
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #062A4A;
  padding: 20px;
}

h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  font-weight: 500;
  text-align: center;
  margin: 20px 5px;
}

.contacts-btns-holder {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contact-btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 0 5px;
  padding: 10px;
}

header .fa {
  margin-right: 5px;
}

.about-section {
  font-size: 18px;
  margin: 30px auto 0 auto;
  width: 70%;
}

.about-section a,
.project-links a {
  color: #02457D;
  font-weight: bold;
  text-decoration: none;
}

.about-section a:hover,
.project-links a:hover {
  color: #02457D;
  color: #387AAC;
  /*text-decoration: underline;*/
}

.projects-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}


.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  /*background-color: rgba(255, 255, 255, 0.5);*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

.project-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.project-links a {
  font-size: 18px;
}

.project-screenshot {
  display: block;
  margin: 10px 0;
  width: 600px;
}